.MyApp {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
header {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  background: rgb(9, 36, 0);
  background: linear-gradient(
    42deg,
    rgba(9, 36, 0, 1) 0%,
    rgba(61, 232, 233, 0.26934523809523814) 0%,
    rgba(240, 120, 50, 0.22452731092436973) 100%
  );
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
header h1 {
  margin-top: 0;
  margin-bottom: 0;
}
main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background: rgb(9, 36, 0);
  background: linear-gradient(
    42deg,
    rgba(9, 36, 0, 1) 0%,
    rgba(61, 232, 233, 0.6334908963585435) 0%,
    rgba(240, 120, 50, 0.6923144257703081) 100%
  );
}
.mainLeftPic img {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 90%;
  top: 85%;
}
content {
  display: block;
  width: 30%;
  background-color: rgba(67, 221, 201, 0.582);
  border-radius: 10px 10px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
}
.contentHeader {
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 20px;
}
.contentHeader p {
  margin: 20px 0;
}
.lineAfterText {
  display: block;
  width: 180px;
  height: 4px;
  background-color: white;
  margin: 20px auto 30px;
}
.contentMain {
  margin-bottom: 30px;
}
.contentFooter {
  display: flex;
  background-color: white;
  border-radius: 0 0 10px 10px;
}
.contentFooter p {
  width: 50%;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: rgb(100, 98, 98);
}
.verticalLine {
  display: block;
  width: 3px;
  height: 40px;
  background: rgb(94, 93, 93);
  opacity: 30%;
  margin: auto 0;
}

.contentMain {
  display: flex;
  justify-content: center;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 5px 0;
  margin-left: -280px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: rgb(100, 98, 98);
}
